arabic-reshaper==2.1.1
asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
Django==3.1.2
django-crispy-forms==1.9.2
django-tenants==3.2.1
future==0.18.2
html5lib==1.1
idna==2.10
ordered-set==4.0.2
Pillow==8.0.1
psycopg2-binary==2.8.6
PyJWT==1.7.1
PyPDF2==1.26.0
python-bidi==0.4.2
pytz==2020.1
reportlab==3.5.55
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
twilio==6.47.0
urllib3==1.25.11
webencodings==0.5.1
xhtml2pdf==0.2.5
