{% extends 'covidyoddha/base.html' %}
{% load static %}

{% block content %}
<div class="mt-5 ml-5">
{% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
</div>
<h3 class="mt-5 ml-5">Welcome staff - {{ request.user.username }}</h3>
<br>
<div class="container ml-4" >
    <div class="d-flex justify-content-center ">
        <div class="user_card">
            <div class="d-flex justify-content-left">
                <h5 id="form-title">Appointment List</h5>
            </div>

            <div class="d-flex justify-content-center form_container">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered table-striped " >
                        <thead>
                            <tr align="center">
                                <th>ID</th>
                                <th>Full Name</th>
                                <th>Mobile</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th style="width:70px;">Action</th>
                            </tr>
                        </thead>
                        <tbody style="color: black">
                            {% for appointment in appointment_list %}
                            <tr>
                                <td>{{ appointment.id }}</td>
                                <td>{{ appointment.patient.patient_first_name }} {{ appointment.patient.patient_last_name }}</td>
                                <td>{{ appointment.patient.patient_mobile }}</td>
                                <td>{{ appointment.time.date }}</td>
                                <td>{{ appointment.time.time }}</td>
                                <td align="center">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'appointmentDelete' appointment.id %}" style="border-color:grey">Delete</a>
                                        <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'appointmentUpdate' appointment.id %}" >Update</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}