{% extends 'covidyoddha/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    .container-fluid {
        padding-right: 15px !important;
        padding-left: 150px !important;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid rgb(128, 128, 128);
    }

    .separator::before {
        margin-right: .25em;
    }

    .separator::after {
        margin-left: .25em;
    }

</style>

<div class="container-fluid ">
    <div class="col-lg-10 ">
        <div class="row justify-content-center">
            <div class="justify-content-center text-center col-lg-8 col-sm-12 mt-lg-5 ml-lg-5 pl-5">
                {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                {% endif %}
                <h3 class="mb-4 mt-2">Welcome to COVID-19</h3>
                <form method="POST" action="" autocomplete="off">
                  {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>

                               <input type="text" class="form-control" placeholder="Enter Username" name="username" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text ">
                                    <span class="fa fa-lock">
                                    </span>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col">
                            <div class="form-check">
                                <input type="checkbox" value="lsRememberMe" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>

                        </div>
                        <div class="col">
                            <div class="form-check float-right">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" onclick="lsRememberMe()">Login</button>
                </form>
            </div>

            <div class="col-lg-8 text-center pl-5 ml-lg-5 ">
                <h6 class="separator text-muted text-sm my-4">OR</h6>
                <a href="{% url 'patient_register' %}" class="text-bold">Not a member? Register here</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}